/* This is the stylesheet for the Weather site */

/* Table of Contents
1. Imports
2. General rules
3. Mobile First rules
4. Larger screen rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 - General Rules */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background-color: #0e89d5;
    margin-bottom: -35px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita', sans-serif;
}

body {
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    height: auto;
}

head {
    display: inline;
}

footer {
    background-color: #0e89d5;
    margin-bottom: 2em;
    margin-top: -20px;
    margin-bottom: 60px;
}

nav {
    background-color: #0e89d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 50px;

}

/* display the nav's and move them into the middle of the page */
.webs {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}


/* to stop current from moving left like the rest of the nav */
#cur {
    margin-left: -10px !important;
}

/* remove the margin so the text is closer */
#frank {
    margin-bottom: 0px;
}

/* display the zip, elevation, and location in line and sized. */
.info {
    display: inline;
    font-size: 16px;
}

/* change the temperature size and spacing */
#main_temp {
    font-size: 85px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* change the color of the high  */
#hot {
    color: red;
}

/* change the color of the low */
#cold {
    color: blue;
}

/* align the wind text */
#wind {
    margin-top: 3px;
    margin-bottom: 10px;
}

#direction {
    margin-top: 1px;
}

#scroll {
    white-space: nowrap;
    overflow: auto;
}

#logo {
    float: left;
    height: 1.9em;
    width: 2em;
}

#copy {
    background-color: #0e89d5;
}

#site-brand {
    font-size: 1.7em;
    font-weight: 600;
}

#rain {
    height: 10em;
    width: 10em;
    float: center;
}

#forcast {
    margin-bottom: 5px;
    height: auto;
}

#time {
    display: inline;
}

#speed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    position: relative;
}

.time {
    display: inline;

}

/* Mobile First rules */

/* change the size of the page to fit on a phone */
#phone {
    width: 500px;
}

/* create the tiles and how they act on the page */
.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}