/* This is the stylesheet for the weather site */

/* Table of Contents
1.Imports
2.General 
3.Mobile First Rules
4.Larger Screen Rules */

/* Section 1 -imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 General Rules */
header {
    background-color: #0e89d5;
}

html {
    box-sizing: border-box;
}


*before, *:after {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "sansita", "eurostyle", sans-serif;
}

header h1 {
    display: inline;
}

body {
    font-size: 20px;
    font-family: helvetica, verdana, sans-serif;
    margin: 5px;

}

/* change how the tiles act */
.tile {
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}

/* display the logo */
#logo {
    float: left;
    height: 45px;
    padding-right: 1%;
}

/* make the nav stay at the top */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    list-style: none;
    background-color: #0e89d5;
    width: 100%;
}

#page-nav {
    display: flex;
    justify-content: space-around
}

nav a {
    text-decoration: none;
    color: white;
}

footer {
    margin-bottom: 2em;
    background-color: #0e89d5;
    padding: 20px;
}

#scroll {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    list-style-type: none;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

#rain {
    width: 300px;
    height: 188px;
    background-size: contain;
    align-self: center;
    background-repeat: no-repeat;
}

#current {
    font-size: 5em;
}

/* change the colors of the high and low */
#hot {
    color: red;
}

#cold {
    color: blue;
}

#curWeather {
    background-size: cover;
}

#hourly {
    display: flex;
}

#dial {
    position: relative;
    height: 150px;
    width: 150px;
    background: no-repeat center/85%url(/weather/images/wind-pointer.png);
    z-index: 100;
    margin: -.6em auto 0;
}

.n {
    transform: rotate(0deg)
}

.ne {
    transform: rotate(45deg)
}

.nw {
    transform: rotate(315deg)
}

.e {
    transform: rotate(90deg)
}

.s {
    transform: rotate(180deg)
}

.se {
    transform: rotate(135deg)
}

.sw {
    transform: rotate(225deg)
}

.w {
    transform: rotate(270deg)
}


/* Mobile First Rules */

.mph {
    position: absolute;
    top: 100%;
    left: 40%;
}

/* The small pictures for the summary */
.clear {
    background-image: url("/weather/responsive_images/clear_small.jpg");
}

.rain {
    background-image: url("/weather/responsive_images/rain_small.jpg");
}

.fog {
    background-image: url("/weather/responsive_images/fog_small.jpg");
}

.snow {
    background-image: url("/weather/responsive_images/snow_small.jpg");
}

.clouds {
    background-image: url("/weather/responsive_images/clouds_small.jpg");
}


/* Large Screen Rules */
@media only screen and (min-width: 700px) {
    nav {
        position: relative;
    }

    #page-nav {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .tile {
        flex-grow: 1;
    }

    .box {

        display: flex;
        justify-content: space-around;
    }

    .mph {
        position: absolute;
        top: 55%;
        left: 45%;
    }

}

/* Summary images for the big screen */
.clear {
    background-image: url("/weather/responsive_images/clear_large.jpg");
}

.rain {
    background-image: url("/weather/responsive_images/rain_large.jpg");
}

.fog {
    background-image: url("/weather/responsive_images/fog_large.jpg");
}

.snow {
    background-image: url("/weather/responsive_images/snow_large.jpg");
}

.clouds {
    background-image: url("/weather/responsive_images/clouds_large.jpg");
}