/* CSS for ACME Site*/

/* Imports */
@import url('/weather/css/normalize.css');
/* General Rules */

html{
    background-image: url("/final/acme/images/site/background.jpg");
    background-repeat: no-repeat;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    background-color: white;
    width: 95%;
    margin: auto;
}

#logos{
    width: 300px;
    margin-left: 5px;
}

nav ul{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #de2226;
    color: white;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    margin: 0;
}

nav ul li{
    margin-right: 15px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 5px;
}

footer{
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 35px;
}

footer p{
   margin: 2px 0px 0px 0px;
}

#nav_bar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* changes size and bullet points */
    list-style: none;
    font-size: 1.5em;
}

.rocket_pic {
    background-image: url('/final/acme/images/site/feature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    color: #990033;
    display: flex;
    justify-content: flex-end;
}

.rint {
    height: 600px;
    padding-right: 35px;
}

#rheader {
    font-size: 50px;
}

.rlist {
    font-size: 26px;
    list-style: none;
    padding-left: 0;
}

.food{
border-left-width : 40px;
border-right-width : 40px;
border-bottom-width : 10px;
border-color : lightgray;
border-style : solid;
width : 5em;
}

#list{
    font-size: 25px;
}

.hide {
	display: none;
}
/* Larger Rules */
@media screen and (min-width: 700px){
    html{
        background-size: cover;
    }

    body{
        width:80%;
        margin: auto; 
    }

    nav ul{
        font-size: 20px;
        height: 50px;
        margin: 0px;
    }

    h1{
        font-size: 35px;
    }

    footer{
        font-size: 15px;
    }
}

#recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#end_content{
		display: flex;
		flex-direction: row-reverse;
}

#reviews{
    width: 55%;
}

#foods{
    width: 45%;
}